@media (min-width: 1024px) {
    #landing {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .my-header {
        background-color: orange;
    }

    .filmsetting {
        max-width: 300px;
        height: auto;
    }
    .toelichting {
        font-size: 1.1vw;
    }

}