/* Styles not related to code  */

h1 { font-size:1.3em; }
h2 { font-size:1.2em; }

ul { margin-bottom: 2.4em; }
ul li { margin-bottom:.5em; }
p { max-width: 60em; }
span.news { font-weight:bold; font-style:italic; }